body,
h1,
h2,
h3,
h4,
h5 {
    font-family: "Poppins", sans-serif
}

body {
    font-size: 16px;
}


body, html {
    height: 100%;
  }
  
  .parallax {
    /* The image used */
    background-image: url("../img/lake.jpg");

  
    /* Full height */
    height: 300px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }



  .parallax2 {
    /* The image used */
    background-image: url("../img/nature.jpg");

  
    /* Full height */
    height: 300px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }  

.w3-half img {
    margin-bottom: -6px;
    margin-top: 16px;
    opacity: 0.8;
    cursor: pointer
}

.w3-half img:hover {
    opacity: 1
}


.sidebar {
    z-index: 3;
    width: 300px;
    font-weight: bold;
    color: azure;
}

.services, .proyectos, .equipo{
    padding-top: 200px;
    color: white;
}